REACT_APP_SUPABASE_URL=your_supabase_url_here
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJnYWxvdXpxanh5YWNxZWdmdWt5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjkzMDYzODIsImV4cCI6MjA4NDg4MjM4Mn0.eaB1aEiRibdq0JCsubFhEWN5iq-uLKvw4KIHBf-AxGM